---
import Paginate from '@components/Paginate.astro'
import PostList from '@components/PostList.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import type { Page, PaginateFunction } from 'astro'

import { getPosts } from '~/helpers/queries.js'

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction
}) {
  const posts = await getPosts()

  return paginate(posts, { pageSize: 10 })
}

interface Props {
  page: Page
}

const { page } = Astro.props
---

<BaseLayout>
  <div class="flex grow flex-col">
    <PostList posts={page.data} />
    <Paginate {page} />
  </div>
</BaseLayout>
