---
import Paginate from '@components/Paginate.astro'
import PostList from '@components/PostList.astro'
import BaseLayout from '@layouts/BaseLayout.astro'

import { getPosts } from '~/helpers/queries.js'

const posts = await getPosts()
const total = posts.length
const page = {
  data: posts.slice(0, 8),
  start: 0,
  end: 8,
  size: 8,
  total: total,
  currentPage: 1,
  lastPage: Math.ceil(total / 8),
  url: {
    prev: null,
    next: total > 8 ? '/blog/2' : null,
  },
}
---

<BaseLayout
  pageTitle={`posts${page.lastPage > 1 ? ` (${page.currentPage}/${page.lastPage})` : ''}`}
>
  <div class="flex grow flex-col">
    <PostList posts={page.data} />
    <Paginate {page} />
  </div>
</BaseLayout>
