---
import PostList from '@components/PostList.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import type { Page, PaginateFunction } from 'astro'

import { getAllPosts } from '~/helpers/queries.js'

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction
}) {
  const posts = await getAllPosts()

  return paginate(posts, { pageSize: 8 })
}

interface Props {
  page: Page
}

const { page } = Astro.props
---

<BaseLayout>
  <div class="grow flex flex-col">
    <PostList posts={page.data} />
    <div class="flex flex-row justify-between py-10">
      <a
        class="underline decoration-orange-700"
        class:list={{
          'no-underline text-stone-300 dark:text-stone-600': !page.url.prev,
        }}
        href={page.url.prev}>&larr; prev</a
      >
      <a
        >{
          `${String(page.currentPage).padStart(2, '0')} of ${String(page.lastPage).padStart(2, '0')}`
        }</a
      >
      <a
        class="underline decoration-orange-700"
        class:list={{
          'no-underline text-stone-300 dark:text-stone-600': !page.url.next,
        }}
        href={page.url.next}>next &rarr;</a
      >
    </div>
  </div>
</BaseLayout>
