---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import { getCategories } from '~/helpers/queries'

const categories: string[][] = await getCategories()
---

<BaseLayout>
  <h1 class="pb-5 text-4xl">all categories</h1>
  <div class="grid grid-flow-row grid-cols-2 gap-3 text-2xl">
    {
      categories.map((category) => (
        <a
          class="text-orange-600 underline hover:bg-orange-600 hover:text-stone-800"
          href={`/blog/categories/${category[0]}`}
        >
          #{category[1]} ({category[2]})
        </a>
      ))
    }
  </div>
</BaseLayout>
