---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import { getCategories } from '~/helpers/queries'

const categories: string[][] = await getCategories()
---

<BaseLayout>
  <h1 class="pb-5 text-2xl font-bold">categories</h1>
  <hr class="border-t-2 border-stone-400 pb-5" />
  <div
    class="mr-auto grid grid-flow-row gap-x-4 gap-y-2 text-xl sm:grid-cols-2 md:grid-cols-3"
  >
    {
      categories.map((category) => (
        <span>
          <a
            class="underline decoration-orange-600 decoration-2 hover:bg-orange-600 hover:text-stone-800"
            href={`/blog/categories/${category[0]}`}
          >
            #{category[1]} ({category[2]})
          </a>
        </span>
      ))
    }
  </div>
</BaseLayout>
