---
const { date } = Astro.props

const dateObj = typeof date === 'string' ? new Date(date) : date

const monthPadded = String(dateObj.getMonth() + 1).padStart(2, '0')
const dayPadded = String(dateObj.getDate() + 1).padStart(2, '0')
const formattedDate = `${dateObj.getFullYear()}-${monthPadded}-${dayPadded}`
---

<span>{formattedDate}</span>
