---
import siteInfo from '~/data/site-info.ts'

import FancySiteTitle from '@components/FancySiteTitle.astro'

const { name, navigation } = siteInfo
---

<header class="mx-auto w-full pb-10">
  <nav class="flex flex-col content-center justify-between md:flex-row">
    <FancySiteTitle title={name} href="/" />
    <ol class="flex flex-row text-xl">
      {
        navigation.map((el) => (
          <li class="">
            <a
              class:list={[
                'p-1 underline decoration-orange-600 decoration-2 hover:bg-orange-600 hover:text-stone-800',
              ]}
              href={el.url}
            >
              {el.name}
            </a>
          </li>
        ))
      }
    </ol>
  </nav>
</header>
