---
const { page } = Astro.props
---

<div class="flex flex-row justify-between py-10">
  <a
    class="underline decoration-orange-700"
    class:list={{
      'no-underline text-stone-300 dark:text-stone-600': !page.url.prev,
    }}
    href={page.url.prev}>&larr; prev</a
  >
  <a
    >{
      `${String(page.currentPage).padStart(2, '0')} of ${String(page.lastPage).padStart(2, '0')}`
    }</a
  >
  <a
    class="underline decoration-orange-700"
    class:list={{
      'no-underline text-stone-300 dark:text-stone-600': !page.url.next,
    }}
    href={page.url.next}>next &rarr;</a
  >
</div>
