<section
  class="light:prose-h1:text-stone-200 [:target]:bg-orange-600 [:target]:text-stone-800 prose prose-stone !max-w-none dark:prose-invert prose-headings:font-bold prose-headings:lowercase prose-headings:underline prose-h1:text-2xl prose-p:text-justify prose-a:decoration-orange-600 prose-a:decoration-2 prose-a:after:align-top prose-a:after:text-xs hover:prose-a:bg-orange-600 hover:prose-a:text-stone-800 prose-blockquote:border-stone-600 marker:prose-ul:text-stone-600"
>
  <slot />
</section>
