---
import Paginate from '@components/Paginate.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import type { Page, PaginateFunction } from 'astro'
import ProjectList from './_components/ProjectList.astro'

import { getProjects } from '~/helpers/queries'

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction
}) {
  const projects = await getProjects()

  return paginate(projects, { pageSize: 8 })
}

interface Props {
  page: Page
}

const { page } = Astro.props
---

<BaseLayout
pageTitle={`projects${page.lastPage > 1 ? ` (${page.currentPage}/${page.lastPage})` : ''}`}
>
  <div class="flex grow flex-col">
    <ProjectList projects={page.data} />
    <Paginate {page} />
  </div>
</BaseLayout>
