---
import BaseLayout from '@layouts/BaseLayout.astro'
import PostList from '@components/PostList.astro'

import { type CollectionEntry } from 'astro:content'
import { getPosts, getCategories } from '~/helpers/queries.js'
import { pluralize } from '~/helpers/utils.js'
import type { PaginateFunction } from 'astro'
import Paginate from '@components/Paginate.astro'

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction
}) {
  const posts: CollectionEntry<'blog'>[] = await getPosts()
  const categories: string[][] = await getCategories()

  return categories.flatMap(([categorySlug, categoryName]) => {
    const categoryPosts = posts.filter(
      (post) =>
        post.data.category === categoryName ||
        (!post.data.category && categorySlug === 'uncategorized'),
    )
    return paginate(categoryPosts, {
      params: { category: categorySlug },
      pageSize: 8,
    })
  })
}

const { page } = Astro.props
const { category } = Astro.params
---

<BaseLayout>
  <h1 class="pb-5 text-2xl font-bold">
    <a
      href="/blog/categories"
      class="underline decoration-orange-600 decoration-2 hover:bg-orange-600"
      >categories</a
    >/{category} ({page.total}
    {pluralize('post', page.total)})
  </h1>
  <hr class="border-t-2 border-stone-400 pb-5" />
  <PostList posts={page.data} />
  <Paginate {page} />
</BaseLayout>
