---
import '@fontsource/iosevka';

import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<!doctype html>
<html lang="en" class="font-['Iosevka']">
  <head>
    <BaseHead />
  </head>
  <body class:list={[
    "flex flex-col min-h-screen mx-auto px-5 pt-10",
    "md:px-0 md:w-2/3",
    "xl:w-1/2",
    "bg-amber-50",
    "dark:bg-stone-900",
    "text-stone-700",
    "dark:text-stone-200",
  ]}>
    <Header />
    <main class="grow flex flex-col pb-10">
      <slot />
    </main>
    <Footer />
  </body>
</html>
